.nav{
  display:flex;
  width:100%;
}
.nav div{
  padding-left: 5px;
}

.aboutContent,.locationContent,.mediaContent{
  display: none;
  background-color:#eeeeee;
}
.Content a{
  text-decoration: none;
}

button  {
  height:30px;
  width:90px;
}

button:hover{
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

/* because its a sibling element `*/
.dropLocation:hover~.locationContent,.dropMedia:hover~.mediaContent,.dropAbout:hover~.aboutContent{
  display: grid;
}
